<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    div {background-color: rgb(221, 214, 214);}
    body {background-color: white;}
</style>
</head>
<body>
    <div>
        <img src="imagens/SAPF.png" alt = "Logo do site" width="300" height="300">
        <br>
        <form action="/action_page.php">
            <label for="fname">Mátricula:</label><br>
            <input type="text" id="fname" name="fname" value=""><br>
            <label for="lname">Senha:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>
            <input type="submit" value="Entrar">
          </form>
    </div>

</body>