<!DOCTYPE html>
<head>
<style>
    div {background-color: grey;}
    body {background-color: white;}
</style>
<title>Loja Otaku</title>
</head>
<body>
    <div>
        <a href= "Loja otaku.html">INÍCIO</a>
    <h3>loja Otaku</h3>
        <img src="i/zeno.jpg" alt = "zenitsu lindo" width="150" height="100">
        <br>
        <a href="Sobre a loja.html">Sobre a loja /</a>
        <a href="fazer login.html">Fazer login /</a>
        <a href="Reclame aqui.html">Reclame aqui /</a>
        <a href= "Meu carrinho.html">Meu carrinho</a>
    <br>
    </div>
    <p>
        <img src="i/copo goku.jpg" alt = "GOKUUUUUU" width="300" height="300">
        <br>
        <a href="Caneca.html">Caneca - Dragon Ball - R$29,90</a>
        <br>
        <br>
        <img src="i/poster - miss Kobayashi.jpg" alt = "Dragonzinho" width="300" height="300">
        <br>
        <a href= "Poster.html">Poster - Miss Kobayashi - R$49,00</a>
        <br>
        <br>
        <img src="i/abcd.jpg" alt = "shumakuuuuu" width="300" height="300">
        <br>
        <a href= "Bonecos.html">Figure Action - Kemitsu no yaba - R$59,90</a>
        <br>
        <br>
        <img src="i/caderno.jpg" alt = "eu sou o kira" width="300" height="300">
        <br>
        <a href= "Caderno.html">Caderno - Death Note - R$30,00</a>
    </p>
  
    <p>Páginas</p>
 
    <p>
        <a href="Loja otaku.html">1,</a>
        <a href="Mais Produtos.html">2</a>
    </p>

</body>