<!DOCTYPE html>
<head>
<style>
    div {background-color: rgb(221, 214, 214);}
    body {background-color: white;}
</style>
</head>
<body>
    <div>
        <img src="imagens/SAPF.png" alt = "Logo do site" width="100" height="100">
        <br>
        <a href="Sobre a loja.html">Sobre a loja /</a>
        <a href="fazer login.html">Fazer login /</a>
        <a href="Reclame aqui.html">Reclame aqui /</a>
        <a href= "Meu carrinho.html">Meu carrinho</a>
    <br>
    <p>
        <p>Projetos Recentes</p>
        <a href="Caneca.html">Venha fazer parte da SENADEC</a>
        <br>
        <br>
        <a href= "Poster.html">Precisa-se de estagiários na TI</a>
        <br>
        <br>
        <a href= "Bonecos.html">Atençao pessoal de INFO</a>
        <br>
        <br>
        <a href= "Caderno.html">Povo de jogos queren un projeto?</a>
    </p>
  
    <p>Páginas</p>
 
    <p>
        <a href="Loja otaku.html">1,</a>
        <a href="Mais Produtos.html">2</a>
    </p>
    </div>

</body>