<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    div {background-color: rgb(221, 214, 214);}
    body {background-color: white;}
</style>
</head>
<body>
    <div>
        <img src="imagens/SAPF.png" alt = "Logo do site" width="100" height="100">
        <br>
        <p>
            <hr>
            <h2 style="text-align:center; color: red" >Você está na Recuperação de Acesso</h2>
            <hr>
            <h2 style="color: red;">Digite seu Email escolar:</h2>
            <form>
                <input type="text" id="a" name="a" value=""><br>
                <p style="font-size:95%;">Exemplo: fulano.detal@escolar.IFRN.edu.br</p>
            </form>
            <hr>
            <h2 style="color: red;">Digite sua matrícula:</h2>
            <form>
           <input type="text" id="b" name="b" value=""><br>
           <p style="font-size:95%;">Exemplo: 0123456789...</p>
           </form>
            <hr>
            <h2 style="color: red;">Digite seu CPF:</h2>
            <form>
           <input type="text" id="c" name="c" value=""><br>
           <p style="font-size:95%;">Exemplo: 123.456.789-10</p>
            <hr>
           <input type="submit" value="Reenviar"; style="text-align:left">
           <input type="submit" value="Entrar">
           <br>
           <br>
           </form>
        </p>
    </div>
</body>