<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    div {background-color: rgb(221, 214, 214);}
    body {background-color: white;}
</style>
</head>
<body>
    <div>
        <img src="imagens/SAPF.png" alt = "Logo do site" width="300" height="300">
        <br>
        <button>Cadastre um projeto</button>
        <button>Veja seus projetos</button>
        <br>
        <h2 style="background-color: brown; color: white;">Projetos Recentes</h2>
        <p>Digite abaixo o ocorrido. Por favor, seja o mais específico possível.</p>
    </div>

</body>