<!DOCTYPE html>
<html lang="pt-br"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    div {background-color: rgb(221, 214, 214);}
    body {background-color: white;}
</style>
</head>
<body>
    <div>
        <img src="imagens/SAPF.png" alt = "Logo do site" width="100" height="100">
        <br>
        <button>Cadastre um projeto</button>
        <button>Veja seus projetos</button>
        <br>
        <br>
        <div class="principal">
            <div class="topo">
                <input type="text" class="pesquisar" name="pesquisar" placeholder="Pesquisar">
            </div>
        </div>   
    <br>
    <p>
        <h2 style="background-color: brown; color: white;">Resultados da sua pesquisa</h2>
        <a href="Caneca.html">Venha fazer parte da SENADEC</a>
        <p>fhfjfhdjfhjfhd</p>
    </p>
    </p>
        
    <p>Páginas</p>
 
    <p>
        <a href="Loja otaku.html">1,</a>
        <a href="Mais Produtos.html">2</a>
    </p>
    </div>

</body>